


body,html{
    margin:0;
    padding:0;
    font-family: 'oswald',sans-serif;
}

 /* NAV */


.master_nav_div{
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
}
 /* NAV */

/* Title */

.title_first {
  margin-left: 25px;
}

/* Title */ 


/* CORP DE LA PAGE */

.master_div{
    display: flex;
    flex-direction: column;

}

.mast_2{
    display:flex;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 15px;
    z-index: 1;
}

#align{
    display: block;
    width: 100%;
}


/* CORP DE LA PAGE */

/* MENU EXTEND */


.Extend{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 1;
    /*background-color: rgba(35, 158, 237, 1); */ 
    background-image: linear-gradient(10deg,#fff,#239EED );
}

#btn_exit{
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  left: -25px;
  top: -15px;
  width: 50px;
  height: 30px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #CC0000;
}

#btn_exit:hover{
  box-shadow: 0px 0px 2px 0px;
}

#btn_exit:active{
  box-shadow: inset 1px 1px 4px;
}

/* MENU EXTEND */

/* animation */

/* Page Avant */

.fade-enter {
    opacity: 0;
    transform: translateX(-20%) scale(0.5,0.5);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
  }

    /* Page d'apres */ 

  .fade-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active  {
    opacity: 0;
    transform:  translateX(100%) scale(0.3,1.3);
  }
  .fade-enter-active ,
  .fade-exit-active ,
  .fade-enter , 
  .fade-exit  {
    transition: opacity 400ms , transform 1s  ;
  }
  
  

/* animation menu div */

/*
.SlideDiv-appear
.SlideDiv-enter {
    opacity: 0;
    transform: translateX(100%);
    z-index: 1;
}

.SlideDiv-appear-active
.SlideDiv-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 300ms linear 150ms;
}

.SlideDiv-exit {
    opacity: 1;
    transform: translateX(0px);
    
}

.SlideDiv-exit.fade-exit-active {
    opacity: 0;
    transform: translate(-100px) ;
    transition: all 0.5s linear; 
}

 /*

/* animation menu div  */ 