

/* IMAGE */

.alignPicture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photos {
    display: block;
    max-width: 600px;
    max-height: 600px;
    margin: 20px 15px;
    padding: 0;
    border: 1px solid #484958;
    border-radius: 10px; 
   
}
.photos:hover{
    box-shadow: 0 0 0 0 #484958;
    animation: pulse 0.7s infinite;
}

@keyframes pulse {
	to {
	  box-shadow: 0 0 15px 5px rgba(0,0,0,0.01); /* x,y,floue,spread (etandu) */
	}
  }

/* IMAGE */


/* list item */ 

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px 0px;
    margin: 5px;
    border: 1px solid #484958;
    /*background-color: #6EA2DC; */
}
.list-group-item:hover{
    background-color: #239EED;
    box-shadow: inset 1px 1px 5px black;
    padding: 30px 0;
    transition: all 0.3s ease;
}




.ItemDiv{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    /*border: 1px solid #484958;*/
    padding: 5px 0px;
    /*background-color: #484958; */
    z-index: 1;
}

.box_item{
    display: flex;
    flex-direction: column;
}



/* list item */ 

/* elem div */ 

.itemSlider{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    
}

.liItemDiv{
    padding: 0;
    margin: 0;
}
.paraDiv{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
}
/* elem div */ 


/* btn contact fade */ 

#divforContact{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


#paraContact{
    font-size: 18px;
    display: flex;
    color: black;
    transition: 1s ease;
    opacity: 1;
    z-index: 4;
}


#linkContact{
    display: flex;
    text-decoration: none ;
    opacity: 1;
    z-index: 4;
}

#linkContact:hover {
    background-color: #484958;
    border-radius: 10px;
    transition: 1s ease;
}
.pathContact:hover {
    color: RGB(246,250,246);
    border-radius: 10px;
    transition: 0.5s ease;
    
}

.pathContact {
    display: flex;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    color: black;
}

.Anim-cercle {
    position: absolute;
    align-items: center;
    background-color: #239EED;
    width: 160px;
    height: 170px;
    border: 1px solid #fff;
	animation: 1s linear infinite alternate MoveBox,
			   1.5s linear infinite roulette;
    border-radius: 50%;
    padding: 50px;
    z-index: 3;
}

.bg_title_rea{
    /*position: relative;*/
    background: linear-gradient(300deg, rgba(255,255,255,0) 10%, #fff 75%),url("../assets/bg_Rea-2.jpg");
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px ;
    width: 100%;
    z-index: 1;
}




@keyframes MoveBox {
	from {
		box-shadow: 
		0 0 0 #3e34d3,
		0 0 0 #484958,
		0 0 0 #239EED,
		0 0 0 #7B7D9A;
	}
	to {
		box-shadow: 
		0 -10px 10px #3e34d3,
		-10px 0 10px #484958,
		0 10px 10px #239EED,
		10px 0 10px #7B7D9A;
	}
}

@keyframes roulette {
	from {
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
/* anim cercle */ 



/* anim cercle */ 
/* btn contact fade */ 

.listItem{
    display: flex;
    padding: 5px;
    color: #484958;
    text-shadow: 0px 1px 2px #484958;

}

/* BTN */ 

.BtnMore {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 15px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.BtnMore:hover{
    box-shadow: 0 0 2px 0 black;
}

.BtnMore:active{
    box-shadow: inset 0 0 4px 0 black;
}



/*BTN */ 

/* Paragraphe */

.divPara_front{
    border-top: 1px solid black;
    padding: 10px 0px;
}

.paraFront{
    color: #484958;
    text-shadow: 0px 1px 2px #484958;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

.para2Front{
    color: #484958;
    text-shadow: 0px 1px 2px #484958;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.titleFront{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #239EED;
    text-shadow: 0px 1px 2px #484958;
}



